body {
  margin: 0 auto;
  align-items: inherit;
  font-family: sans-serif;
}
.num {
  background: chocolate;
  height: 60px;
  width: 50px;
  font: 35px bold;
  font-family: sans-serif;
}

.borda {
  border: 4px solid black;
  max-width: 218px;
  background: #181818;
}

#display {
  font-size: 60px;
  width: 210px;
  height: 60px;
}

.operador {
  height: 60px;
  width: 50px;
  font-size: 60px;
}

.botaoC {
  height: 60px;
  width: 50px;
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
}

.botaoC:hover {
  color: aliceblue;
  background: black;
}
